*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style:none;
}

/* to mobile */
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

 

/* to mobile */
header{
    background-color: #f8f4e4;
    color:#4e3f30;
    padding: .5rem 0;
    box-shadow: 0 10px 10px #ccc;
    position: fixed;
    width: 100%;
}

/* to mobile */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

/* to mobile */
.link-logo{
    font-size: 45px;
    font-weight: bold;
    color: #4e3f30;
    display: flex;
    align-items: center;
 }

 /* to mobile */
.menu{
    background: #f8f4e4;
    order: 3;
    flex-basis: 100%;
    padding: .5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 4.3rem;
}


/* to mobile */
.link-items{
    color: #4e3f30;
     display: block;
    padding: .4rem 0;
    font-size: 18px;
    border-bottom: 0;
 }

 /* to mobile */
 .link-items:hover{
    color:olive;
    transition: .5s;
    border-bottom: 0;
  }
 
/* to mobile  */
a{
    text-decoration: none;
}

/* to mobile */
.fa-bars, .fa-xmark{
    font-size: 40px;
    cursor: pointer;
}

/* to mobile */
.show{
    display: none;
}


/* para telas que seja maiores de 720 ----------- ------------------------ -------------------------- ----------  */

@media(min-width:720px){

    header{
        box-shadow: 0px 10px 10px rbga(0,0,0,.1);
    }

    /* alterar para comuputer */
    header{
        background-color: #f8f4e4;
        color:#4e3f30;
        padding: .5rem 0;
        box-shadow: 0 10px 10px #ccc;
         width: 100%;
    }

    /* to computer */
    .navbar{
        display: grid;
        grid-template-columns: 150px auto;
        justify-content: stretch;
     }
     
     /* to computer */
     .link-items{
        color: #4e3f30;
         display: block;
        padding: .4rem 0;
        font-size: 18px;
        border-bottom: 4px solid #f8f4e4;
     }
    

     /* to computer */
     .link-items:hover{
        color:olive;
        transition: .5s;
        border-bottom: 4px solid #be956c;
      }


      /* to computer */
      .link-actived{
        border-bottom: 4px solid #4e3f30;
      }


      /* to computer */
     .show{
        display: flex;
     }


     /* to computer */
     .fa-bars, .fa-xmark{
        display: none;
     }


     /* to computer */
     .menu{
        order: 3;
        flex-basis: 100%;
        padding: .5rem;
        position: static;
        width: 100%;
        left: 0;
        top: 4.3rem;
    }


    /* to computer */
     .menu ul{
        display: flex;
        width: 100%;
        gap: 1.5rem;
        padding: 0 1rem;
     }
}
