*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
   
  body{
    color: white;
  }
  
  
  .wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .wrapper-cta{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .btn-link{
    background: tomato;
    border-radius: 10px;
    width: 130px;
    margin-top: .9rem;
  }
  
  
  /* section hero */
  
  #hero{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 3rem 0;
    min-height: 560px;
  }
  
  .container-hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .bg-verdin{
    background: #eaf4ef;
    color: #798252;
  }
  
  
   .hero-cta h1{
    font-size: 40px;
   }
  
   .hero-cta h1::after{
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: tomato;
    margin-top: .6rem;
  
   }
  
   h1{
    color: #331f19;
  }
  
   .hero-cta p{
    font-size: 18px;
    margin: 16px 0;
    line-height: 30px;
   }
  
  .image img{
    width: 100%;
    border-radius: 10px;
  }
  
  .btn{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background: tomato;
    color: white;
    cursor: pointer;
  }





  /* section exotic-animals */
#exotic-animals{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
    background: black;
}



.container-exotic-animals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card-exotic{
    display: flex;
    gap: 4px;
}

.card-exotic .image{
    width: 100%;
}

.card-exotic .card-text{
    width: 100%;
}

.description{
    font-size: 13px;
    color:#ffffff80;
    line-height: 28px;
}

.card-text h5{
    font-size: 22px;
    padding-bottom: 0.5rem;
}

.card-exotic .image img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.card-exotic{
    overflow: hidden;
}



/* padrão default */

.line-full{
    grid-column: 1/-1;
}

@media (max-width: 1090px){
    .card-exotic{
        display:flex;
        flex-direction: column;
    }
}
  
  @media (max-width: 569px){
    .container-hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .hero-cta h1{
    font-size: 28px;
    text-align: center;
   }



   /* card exotic */
   .container-exotic-animals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card-exotic{
    display:flex;
    flex-direction: column;
}

.card-exotic img{
    height: 200px;
}
  }
   